@charset "utf-8";

@font-face {
    font-family: 'ProximaNovaA-Light';
    src: url('/assets/fonts/ProximaNovaA-Light.woff2') format('woff2'),
        url('/assets/fonts/ProximaNovaA-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('/assets/fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('/assets/fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('/assets/fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('/assets/fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova-Extrabld';
    src: url('/assets/fonts/ProximaNova-Extrabld.woff2') format('woff2'),
        url('/assets/fonts/ProximaNova-Extrabld.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'ProximaNova-Black';
    src: url('/assets/fonts/ProximaNova-Black.woff2') format('woff2'),
        url('/assets/fonts/ProximaNova-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}






